.layot {
  background-color: #ebebeb;
  padding-top: 160px;
  padding-bottom: 80px;
}

.layot p {
  font-family: Roboto, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #333333;
  padding-bottom: 11px;
}
.layot h3 {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;
}
.layot h4 {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #777777;
  padding-bottom: 40px;
}
.layot img {
  display: flex;
  margin: 0 auto;
}
.steps {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.step {
  width: 364px;
  height: 316px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.step p {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;
}
.step h3 {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.step img {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .step {
    width: 298px;
    height: 281px;
  }
  .step p {
    padding-bottom: 13px;
  }
  .step img {
    margin-bottom: 20px;
  }
}
@media (max-width: 990px) {
  .steps {
    gap: 20px;
  }
}
@media (max-width: 950px) {
  .steps {
    display: grid;
  }
}
@media (max-width: 350px) {
  .la {
    width: 300px;
  }
}
.header-foot {
  background-color: #6b6b6b;
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header-foot ul {
  display: flex;
  gap: 40px;
}
.header-foot ul li a {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #fff;
}
.header-foot ul li a:hover {
  color: #dacece;
  transition: 0.4s;
}
@media (max-width: 500px) {
  .header-foot ul {
    gap: 20px;
  }
}
.footer-last {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #111111;
}
.footer-last p {
  padding-left: 144px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #777777;
}
@media (max-width: 870px) {
  .footer-last p {
    text-align: center;
    padding-left: 0;
  }
}
